* {
  box-sizing: border-box;
}
body {
  padding: 2rem;
  width: 100%;
}
#form-box {
  width: 40rem;
  margin-inline: auto;
}

#form-box input {
  width: 80%;
}
main {
  width: 40rem;
  margin-inline: auto;
}
main div {
  text-align: center;
  width: 40rem;
  background-color: rgb(205, 202, 202);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
}
main div p {
  margin: 1rem 0 0.5rem;
}
main div button {
  margin-bottom: 1rem;
}
h1 {
  text-align: center;
}
